@keyframes blackScreenStartup {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

@keyframes whiteScreenStartup {
  50% {
    transform: scale(300, 0.001); }
  60% {
    opacity: 100%; }
  100% {
    transform: scale(300, 300);
    opacity: 0%; } }

@keyframes flicker {
  0% {
    opacity: 0.02873; }
  5% {
    opacity: 0.0452; }
  10% {
    opacity: 0.0138; }
  15% {
    opacity: 0.03314; }
  20% {
    opacity: 0.02626; }
  25% {
    opacity: 0.01401; }
  30% {
    opacity: 0.01074; }
  35% {
    opacity: 0.00565; }
  40% {
    opacity: 0.0134; }
  45% {
    opacity: 0.00137; }
  50% {
    opacity: 0.04958; }
  55% {
    opacity: 0.00073; }
  60% {
    opacity: 0.03004; }
  65% {
    opacity: 0.00868; }
  70% {
    opacity: 0.01933; }
  75% {
    opacity: 0.03289; }
  80% {
    opacity: 0.02771; }
  85% {
    opacity: 0.02971; }
  90% {
    opacity: 0.01558; }
  95% {
    opacity: 0.01837; }
  100% {
    opacity: 0.04839; } }

#blackScreen {
  background-color: black;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 100%;
  pointer-events: none;
  animation: blackScreenStartup;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#flicker {
  background-color: black;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 100%;
  pointer-events: none;
  animation: flicker 0.15s infinite; }

#whiteScreen {
  background-color: white;
  position: fixed;
  z-index: 100;
  height: 0.5%;
  width: 1%;
  top: 50%;
  left: 50%;
  opacity: 100%;
  pointer-events: none;
  animation: whiteScreenStartup;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both; }
