.resume-content {
    height: 700px;
    width: 700px;
}

.resume-content embed {
    /* height: 500px; */
    height: 100%;
    width: 100%;
}

.text {
    position: relative;
    display: block;
    max-height: 50vh;
    background-color: white;
    padding: 5px;
    overflow: scroll;
    border-top: inset 3px black;
    border-left: inset 3px black;
    border-bottom: inset 3px white;
    border-right: inset 3px white;
    border-radius: 0px 0px 0px 10px;
    font-family: 'fixedsys';
    font-size: 20px;
}

.text p {
    margin: 10px;
}

.text h3 {
    margin: 20px 10px 10px 10px;
}

.text a {
    margin: 10px;
}