.icon {
  display: inline-block;
  padding: 10px;
  /* width: 120px; */
  height: 220px; 
  width: auto;
  text-align: center;
  /* border: 3px solid #00AD21; */
}

.icon-image {
  padding: 6px;
  height: 120px;
  width: auto;
  /* border: 3px solid #73A0f1; */
}

.icon-text {
  font-family: "ms-sans";
  font-weight: bold;
  font-size: 32px;
  color: white;
  display: inline-block;
  position: relative;
  margin: 0px ;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* height: 24px;  */
  text-align: center;
  /* border: 3px solid #ffAD21; */
}