.icon {
  display: inline-block;
  padding: 10px;
  height: 150px; 
  width: auto;
  text-align: center;
  vertical-align: top;
  /* border: white dotted 0px; */
}

.icon-image {
  padding: 6px;
  height: 80px;
  width: auto;
  user-select: none;
}

.icon-text {
  font-family: 'vt323';
  font-size: 26px;
  color: white;
  display: inline-block;
  position: relative;
  margin: 0px ;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
  user-select: none;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.clicked {
  border: white dotted 1px;
  padding: 9px;
  height: 149px; 
}
