.menuBar {
    font-family: "MS-sans";
    margin-left: 10px;
    color: white;
    cursor: default;
}

.menubar-item {
    margin-top: 1px;
    user-select: none;
    padding: 3px 8px 3px 5px;
    display: inline-block;
}

.menubar-item:hover {
    background-color:rgb(0,0,128);
    color:white;
}