#start-button {
  float: left;
  text-align: right;
  font-size: 25px;
  width: 90px;
  color: white;
  font-family: 'vt323';
  /* line-height: 1.2; */
  padding: 1px 6px 3px 1px;
  margin: 2px 4px;
  margin-right: 6px; 
  /* border-radius: 0px 15px; */
  user-select: none; 
}

.start-image {
  height: 20px;
  width: auto;
  margin: 2px;
  float: left;
}

.start-button-rest {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px rgb(12, 5, 77);
  border-right: ridge 2px rgb(12, 5, 77); 
}

.start-button-click {
  border-top: inset 2px rgb(12, 5, 77);
  border-left: inset 2px rgb(12, 5, 77);
  border-bottom: inset 2px white;
  border-right: inset 2px white; 
}
