#start-button {
  background-size: 30px 25px;
  text-align: right;
  font-size: 20px;
  width: 75px;
  height: 24px;
  display: inline-block;
  padding: 5px 4px 0px 1px;
  margin-left: 4px;
  margin-top: 2px;
  cursor: default;
  user-select: none; }

.start-button-rest {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black; }

.start-button-click {
  border-top: inset 2px black;
  border-left: inset 2px black;
  border-bottom: inset 2px white;
  border-right: inset 2px white; }
