#start-button {
  float: left;
  text-align: right;
  font-size: 20px;
  width: 90px;
  color: white;
  /* font-family: "ms-sans"; */
  font-family: lores-9-plus-narrow, sans-serif;
  /* font-weight: bold; */
  line-height: 1.2;
  padding: 2px 6px 3px 1px;
  margin: 2px 4px;
  margin-right: 6px; 
  border-radius: 0px 15px;
  user-select: none; 
}

.start-image {
  height: 20px;
  width: auto;
  margin: 2px;
  float: left;
}

.start-button-rest {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black; 
}

.start-button-click {
  border-top: inset 2px black;
  border-left: inset 2px black;
  border-bottom: inset 2px white;
  border-right: inset 2px white; 
}
