@font-face {
  font-famly: 'MS Sans Serif';
  src: url("../../public/fonts/MS_Sans_Serif.ttf"); }

html {
  background-color: #3eceb6; }

.taskbar {
  height: 40px;
  background-color: silver;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: ridge 2px white;
  z-index: 99; }
