* {
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "ms-sans";
  src: url("../assets/fonts/MS_Sans_Serif.ttf")
}

@font-face {
  font-family: "fixedsys";
  src: url("../assets/fonts/fixedsys.ttf")
}

@font-face {
  font-family: "reenie-beanie";
  src: url("../assets/fonts/ReenieBeanie-Regular.ttf")
}

@font-face {
  font-family: "vt323";
  src: url("../assets/fonts/VT323-Regular.ttf")
}

@font-face {
  font-family: "vcr";
  src: url("../assets/fonts/VCR.ttf")
}

.backgroundImage {
  background:linear-gradient(#FF367F,transparent);
  background-color: #0012DB;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  min-width: 900px;
  min-height: 1000px;
  z-index: -1;
  filter: blur(1px);
}

#crt {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 60%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}