* {
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "ms-sans";
  src: url("../assets/fonts/MS_Sans_Serif.ttf")
}

@font-face {
  font-family: "fixedsys";
  src: url("../assets/fonts/fixedsys.ttf")
}

html {
  /* background-color: #3eceb6;  */
  /* background-color: black; */
  background-color: darkblue;
}
