.taskbar {
    height: 45px;
    padding-top: 3px;
    /* background-color: #1B0400; */
    background: #2e5fbb;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px white;
    z-index: 50; 
    overflow: visible; 
  }

.taskbar:after {
    content: "";
    display: table;
    clear: both;
}