.task {
    float: left;
    line-height: 1.2;
    height: 33px;
    /* border: 3px solid #00AD21; */
    min-width: 150px;
    margin: 2px 4px;
    text-align: left;
    font-size: 20px;
    font-family: "ms-sans";
}

.unopen {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}
.open {
    border-top: inset 2px black;
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}
.task-icon {
    /* display: none; */
    /* max-width: 200px; */
    /* min-width: 75px; */
    /* width: 10%; */
    height: 24px;
    display: inline-block;
    padding: 5px 4px 0px 27px;
    margin-left: 4px;
    margin-top: 2px;
    /* cursor: default; */
    text-overflow: ellipsis;
    /* user-select: none; */
    
}