.taskbar {
    height: 40px;
    background-color: silver;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px white;
    z-index: 99; 
  }

.taskbar:after {
    content: "";
    display: table;
    clear: both;
}