.task {
    float: left;
    /* line-height: 1.2; */
    height: 33px;
    /* border-radius: 0px 15px; */
    padding-left: 5px;
    min-width: 180px;
    margin: 2px;
    padding-top: 2px;
    text-align: left;
    font-size: 25px;
    font-family: 'vt323';
    user-select: none; 
    color: white;
}

.unopen {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
} 

.open {
    border-top: inset 2px black;
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}

.task-image {
    user-select: none;
    height: 20px;
    width: auto;
    margin: 2px;
    margin-right: 6px;
    float: left;
}

.task:after {
    content: "";
    display: table;
    clear: both;
}