.window {
    position: absolute;
    padding: 3px;
    /* background: #1b0400; */
    background: #2e5fbb;
    border-bottom: #22375e;
    border-right: #22375e;
    border-top: white;
    border-left: white;
    border-width: 3px;
    border-style: solid;
    top:10%;
    left:25%;
    z-index: 10;
    display: inline-block;
}

.buttons {
    float: right;
}

.title {
    height: 24px;
    margin: 2px 0 0 2px;
    font-family: 'vt323';
    font-size: 25px;
    color: white;
    display: inline-block;
}

.content-box {
    padding: 2px;
}

.window-image {
    user-select: none;
    height: 20px;
    vertical-align: middle;
}

.window-image:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 2px;
    /* background: #1B0400; */
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}

.right {
    width: 100px;
    float: right;
    padding-top: 3px;
}

.buttonContainer {
    display: inline-block;
}

button {
    border-width: 0px;
    border-radius: 5px;
    margin: 3px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    /* font-family: "ms-sans"; */
    /* text-align: center; */
}

.close {
    background-color: red;
    opacity: 0.7;
    transition: 0.2s;
}

.close:hover {
    background-color: red;
    opacity: 1;
    transition: 0.2s;
}

.minimize {
    background-color: yellow;
    opacity: 0.7;
    transition: 0.2s;
}

.minimize:hover {
    background-color: yellow;
    opacity: 1;
    transition: 0.2s;
}

.maximize {
    background-color: green;
    opacity: 0.7;
    transition: 0.2s;
}

.maximize:hover {
    background-color: green;
    opacity: 1;
    transition: 0.2s;
}