.window {
    position: absolute;
    /* max-width: 80%; */
    /* max-height: 90%; */
    background: #1b0400;
    border-width: 5px;
    /* border-color:#FFFFFF #808080 #808080 #FFFFFF; */
    /* border-color: black; */
    border-style: solid;
    top:10%;
    left:25%;
    z-index: 10;
    display: inline-block;
    border-radius: 2px 15px;
}

.buttons {
    float: right;
}

.title {
    height: 24px;
    margin: 2px 0 0 2px;
    padding: 2px;
    /* font-family: "ms-sans"; */
    font-family: lores-9-plus-narrow, sans-serif;
    /* font-weight: bold; */
    font-size: 20px;
    color: white;
    /* background: #000080; */
    display: inline-block;
}

.content-box {
    padding: 2px;
}

.window-image {
    user-select: none;
    height: 20px;
    vertical-align: middle;
    /* width: auto; */
}

.window-image:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 2px;
    background: #1B0400;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}

.right {
    width: 100px;
    float: right;
    padding-top: 3px;
}