.window {
    width: 500px;
    height: 200px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    top:10%;
    left:25%;
    padding:1px;
}
.title{
    margin: 2px 0 0 2px;
    padding: 2px;
    font-family: "ms-sans";
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: #000080;
}

.row {
    padding: 2px;
    background: #000080;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 25%;
}

.middle {
    width: 50%;
}